.item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  &_label {
    padding-left: 20px;
    width: 150px;
  }
  &_view {
    width: 200px;
    text-align: center;
  }
}